.main_container {
    width: 100vw;
}

.about_skills_container {
    margin: 0 100px;
    height: 552px;
    display: flex;
    justify-content: space-between;
}

#sobre_mim {
    width: 502px;
    margin-top: 80px;
}

#skills {
    width: 504px;
    height: 300px;
    margin-top: 250px;
}

#tabela_skills {
    width: 504px;
    padding-top: 15px;
}

.titulos_cards {
    color: #395886;
    font-size: 48px;
    font-weight: 700;
}

.subtitulos_cards {
    color: #395886;
    font-size: 24px;
    font-weight: 200;
}

#services_card {
    border: 1px solid red;
    margin: 0 100px;
    height: 432px;
}

.service_card {
    border: 1px solid blue;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    background-color: #628ECB;
}

#services {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 1200px;
}

.card_servico {
    border: 1px solid red;
    width: 579px;
    height: 386px;
}