.contact_container {
    background-color: #B1C9EF;
    width: 1200px;
    height: 602px;
    margin: 40px 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact_titulo {
    border: 1px solid red;
    width: 500px;
    height: 454px;
}

#contact_titulo h1 {
    color: #395886;
    font-size: 60px;
}

#contact_inputs {
    border: 1px solid red;
    width: 500px;
    height: 454px;
    display: flex;
    flex-direction: column;
    align-items: center;
}