body {
    background-color: #ebebeb;
}

.banner {
    background: radial-gradient(#37424B 0%, #29333C 100%);
    width: 100vw;
    height: 550px;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 75px;
}

.menu_logo {
    font: 12px bold;
    margin-top: 30px;
    margin-left: 100px;
}

.menu_itens {
    font: 12px bold;
    width: 313px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 30px;
}

.logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 475px;
}

.logo_principal {
    border: 10px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 30px;
    width: 510px;
    height: 154px;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #EBEBEB;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    text-transform: lowercase;
    color: #ebebeb;
}

.slogan {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    color: #ebebeb;
}