body {
    background-color: #ebebeb;
}

.menu_container {
    background-color: #395886;
    display: flex;
    width: 100vw;
    height: 75px;
}

.menu_logo {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 100px;
}

.menu_itens {
    width: 314px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 43px;
}

button {
    font-size: 14px;
    width: 85px;
    background: none;
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

button ::before,
button::after {
    position: absolute;
    content: "";
    z-index: -1;
}

.btn:hover {
    background-color: #628ECB;
    box-shadow: 0 0 5px #628ECB, 0 0 25px #628ECB,
                0 0 50px #628ECB, 0 0 100px #628ECB;
}

.banner {
    background-color: #395886;
    width: 100vw;
    height: 645px;
}

.logo_container {
    margin: 0px 100px;
    height: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_principal {
    width: 675px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-size: 32px;
    font-weight: 200;
    line-height: 1.5rem;
}

h1 {
    font-size: 85px;
    font-weight: bold;
}

#line {
    border: 3px solid white;
    width: 400px;
}

h3 {
  font-size: 34px;
  font-weight: 200;  
}

.redes_socias {
    list-style: none;
    width: 145px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    width: 34px;
    height: 34px;
}

.img_container {
    width: 700px;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_perfil {
    width: 700px;
    position: absolute;
    z-index: 2;
}

#circulo_perfil {
    position: absolute;
    z-index: 1;
    width: 568px;
    height: 568px;
    background-color: #628ECB;
    opacity: 0.2;
    border-radius: 50%;
}